p { color:#FA757B;
    letter-spacing: 0;
    word-spacing: 1px;
    line-height: 1.5;
    text-align: center;}
a {color: #0073e6; /* Link color */
    text-decoration: none;}
a:hover {color: #005bb5;
    text-decoration: underline;}
h1 {color: #111111; /* Heading color */
    font-size: 36px;
    margin: 24px 0 8px;}
h2 { color: #333333; /* Subheading color */
    font-size: 28px;
    margin: 16px 0 8px;}
