   body {cursor: url('jellyfish-cursor-peaceful.png'), pointer;}
a:hover {
    cursor: url('jellyfish-cursor-hover.png'), pointer;

body {
    font-size: 14px;
    color: #000000;
}
p {
    letter-spacing: 0;
    word-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}
h1 {
    color: #D0F0FF;
    background-color: #6BAABB;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
}
